.primary {
    width: 10rem;
    padding: 0.5rem;
    height: 2.5rem;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 1rem;
    background: rgba(77, 139, 128, 0.5);
    text-transform: uppercase;
    cursor: pointer;

    @include sm {
        width: 8rem;
        font-size: 0.7rem;
    }
}