form {
    border: 0.1rem solid rgb(77, 139, 128);
    border-radius: 2rem;
    padding: 3rem;

    .fields {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin: 1rem 0;

        label {
            display: block;
            font-size: 0.8rem;
            font-weight: 550;
            letter-spacing: 0.2rem;
            line-height: 1.5;
            text-transform: uppercase;
        }

        input, textarea {
            margin-top: 0.2rem;
            width: 35rem;
            border: none;
            background: rgba(221,217,231, 0.3);
            padding-left: 1rem;
        }

        input {
            height: 2.5rem;
        }

        textarea {
            height: 10rem;
            padding-top: 1rem;
        }
    }
}