@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* Basic */
@-ms-viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif; }

#navbar {
  position: fixed;
  width: 100%;
  z-index: 999999999;
  display: flex;
  flex-direction: column; }
  #navbar .primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 12rem;
    background: white;
    width: 100%; }
    #navbar .primary-nav .links {
      list-style: none; }
      #navbar .primary-nav .links li {
        display: inline-block;
        margin: 0 1rem;
        cursor: pointer; }
        #navbar .primary-nav .links li a {
          text-decoration: none;
          color: black;
          font-weight: bold; }
      @media (max-width: 768px) {
        #navbar .primary-nav .links {
          display: none; } }
    #navbar .primary-nav .logo {
      width: 100px;
      height: auto; }
    #navbar .primary-nav .mobile-menu-button {
      display: none; }
      #navbar .primary-nav .mobile-menu-button .mobile-menu-icon {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        background: rgba(221, 217, 231, 0.3);
        padding: 0.5rem;
        border-radius: 0.5rem; }
        #navbar .primary-nav .mobile-menu-button .mobile-menu-icon hr {
          width: 1.5rem;
          margin: 0;
          height: 0.1rem; }
      @media (max-width: 768px) {
        #navbar .primary-nav .mobile-menu-button {
          display: block; } }
    @media (max-width: 1200px) {
      #navbar .primary-nav {
        padding: 0rem 8rem; } }
    @media (max-width: 992px) {
      #navbar .primary-nav {
        padding: 0rem 6rem; } }
    @media (max-width: 768px) {
      #navbar .primary-nav {
        padding: 0rem 3rem; } }
  #navbar .secondary-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 1rem 0; }
    #navbar .secondary-nav .mobile-links-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem; }
      #navbar .secondary-nav .mobile-links-list li {
        display: block; }
        #navbar .secondary-nav .mobile-links-list li a {
          text-decoration: none;
          color: black;
          font-weight: bold; }

.sticky {
  position: fixed;
  width: 100%;
  z-index: 999999999; }
  @media (max-width: 576px) {
    .sticky {
      transform: translate3d(0, 0, 0, 0); } }

.show {
  display: block; }

.hidden {
  display: none;
  transition: all 1s ease-out; }

header {
  min-height: 90vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url("../../../images/nature-1.jpg") no-repeat center/cover; }
  header .header-content {
    margin: 15rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .header-content h1 {
      font-size: 3em;
      margin-bottom: 1rem; }
    header .header-content h2 {
      line-height: 1.5;
      text-align: center; }

.header-container {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 80%); }

html {
  scroll-behavior: smooth; }
  html main {
    display: flex;
    flex-direction: column; }

.alert {
  position: absolute;
  bottom: 3rem;
  left: 15rem;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background: rgba(221, 217, 231, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5; }
  @media (max-width: 1200px) {
    .alert {
      width: 15rem;
      height: 15rem;
      text-align: center; } }
  @media (max-width: 992px) {
    .alert {
      left: 8rem;
      bottom: 10rem; } }
  @media (max-width: 768px) {
    .alert {
      bottom: 5rem; } }
  @media (max-width: 576px) {
    .alert {
      width: 12rem;
      height: 12rem;
      bottom: 3rem;
      left: 4rem; } }

.move {
  bottom: 5rem; }

.move-mobile {
  bottom: 0rem; }

main .intro {
  display: flex;
  margin-top: 3rem;
  padding-top: 7rem;
  gap: 3rem;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: flex-start; }
  main .intro-sub {
    width: 15rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between; }
    main .intro-sub img {
      width: 100%;
      height: auto; }
    main .intro-sub p {
      text-align: center; }
  @media (max-width: 992px) {
    main .intro {
      flex-direction: column;
      align-items: center; } }
main .parallax {
  margin-top: 4rem;
  min-height: 400px;
  background: url("../../../images/pexels-cotton.jpg");
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .parallax .parallax-text {
    color: white;
    text-align: center;
    line-height: 1.5;
    width: 70%;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px black; }
    @media (max-width: 768px) {
      main .parallax .parallax-text {
        padding-block: 1rem;
        font-size: 1.3rem;
        width: 90%; } }
main .trivia {
  background: rgba(221, 217, 231, 0.4);
  padding: 7rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .trivia .trivia-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%; }
    main .trivia .trivia-image img {
      width: 20rem;
      height: auto; }
      @media (max-width: 576px) {
        main .trivia .trivia-image img {
          width: 15rem; } }
    @media (max-width: 1450px) {
      main .trivia .trivia-image {
        width: 50%; } }
    @media (max-width: 992px) {
      main .trivia .trivia-image {
        order: -1; } }
  main .trivia .trivia-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    main .trivia .trivia-content h3 {
      text-align: left;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold; }
      @media (max-width: 768px) {
        main .trivia .trivia-content h3 {
          font-size: 1.5rem; } }
    main .trivia .trivia-content p {
      line-height: 1.5;
      width: 30rem; }
      @media (max-width: 992px) {
        main .trivia .trivia-content p {
          text-align: center; } }
      @media (max-width: 768px) {
        main .trivia .trivia-content p {
          width: 90%; } }
    @media (max-width: 992px) {
      main .trivia .trivia-content {
        align-items: center;
        justify-content: center; } }
  @media (max-width: 992px) {
    main .trivia {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      justify-content: center; } }
main .contact {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 3.5rem; }
  main .contact h3 {
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold; }
  main .contact p {
    line-height: 1.5;
    width: 30rem; }
  @media (max-width: 576px) {
    main .contact {
      margin: 2rem 1rem; }
      main .contact h3 {
        font-size: 1.5rem; }
      main .contact p {
        width: 90%; } }

form {
  border: 0.1rem solid #4d8b80;
  border-radius: 2rem;
  padding: 3rem;
  width: 35%; }
  form .fields {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem 0; }
    form .fields label {
      display: block;
      font-size: 0.8rem;
      font-weight: 550;
      letter-spacing: 0.2rem;
      line-height: 1.5;
      text-transform: uppercase; }
    form .fields input, form .fields textarea {
      margin-top: 0.2rem;
      width: 100%;
      border: none;
      background: rgba(221, 217, 231, 0.3);
      padding-left: 1rem; }
    form .fields input {
      height: 2.5rem; }
    form .fields textarea {
      height: 10rem;
      padding-top: 1rem; }
  @media (max-width: 1500px) {
    form {
      width: 50%; } }
  @media (max-width: 1200px) {
    form {
      width: 80%; } }
  @media (max-width: 576px) {
    form {
      width: 90%;
      padding: 1.5rem;
      border-radius: 1.5rem; } }

.primary {
  width: 10rem;
  padding: 0.5rem;
  height: 2.5rem;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 1rem;
  background: rgba(77, 139, 128, 0.5);
  text-transform: uppercase;
  cursor: pointer; }
  @media (max-width: 576px) {
    .primary {
      width: 8rem;
      font-size: 0.7rem; } }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 5rem;
  max-width: 100%;
  margin-top: 4rem;
  text-align: center;
  background: rgba(221, 217, 231, 0.3); }
  footer .copyright {
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
    opacity: 0.75;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 550; }
  footer .socials {
    display: flex;
    gap: 1rem; }
    footer .socials i {
      font-size: 2rem;
      color: #4d8b80; }
  footer img {
    width: 5rem;
    height: auto; }
  @media (max-width: 768px) {
    footer {
      flex-direction: column;
      padding-block: 1rem;
      gap: 2rem; }
      footer .copyright {
        order: 2; }
      footer .socials {
        gap: 1rem; }
        footer .socials i {
          font-size: 1.5rem; }
      footer img {
        width: 3.5rem; } }

/*# sourceMappingURL=main.css.map */
