@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,500&display=swap");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

/* Basic */
@-ms-viewport {
  width: device-width; }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'Montserrat', sans-serif; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 15rem;
  background: white; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block;
      margin: 0 1rem;
      cursor: pointer; }
      nav ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold; }
  nav .logo {
    width: 100px;
    height: auto; }

.sticky {
  position: fixed;
  width: 100%;
  z-index: 999999999; }

header {
  min-height: 90vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url("../../../images/nature-1.jpg") no-repeat center/cover; }
  header .header-content {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .header-content h1 {
      font-size: 3em;
      margin-bottom: 1rem; }

.header-container {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 80%); }

html {
  scroll-behavior: smooth; }

.alert {
  position: absolute;
  bottom: 0rem;
  left: 15rem;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background: rgba(221, 217, 231, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase; }

.move {
  bottom: 5rem; }

main .intro {
  display: flex;
  margin-top: 7rem;
  gap: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: flex-start; }
  main .intro-sub {
    width: 15rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between; }
    main .intro-sub img {
      width: 100%;
      height: auto; }
    main .intro-sub p {
      text-align: center; }
main .parallax {
  margin: 4rem 0;
  min-height: 400px;
  background: url("../../../images/pexels-cotton.jpg");
  position: relative;
  opacity: 0.9;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .parallax .parallax-text {
    color: white;
    text-align: center;
    line-height: 1.5;
    padding: 0 20rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px black; }
main .trivia {
  margin: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  main .trivia .trivia-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%; }
    main .trivia .trivia-image img {
      width: 70%;
      height: auto; }
  main .trivia .trivia-content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%; }
    main .trivia .trivia-content h3 {
      text-align: left;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: bold; }
    main .trivia .trivia-content p {
      line-height: 1.5;
      width: 30rem; }
main .contact {
  height: 70vh; }

footer {
  width: 100%;
  max-width: 100%;
  margin: 2rem 0;
  text-align: center; }
  footer .copyright {
    letter-spacing: 0.4rem;
    font-size: 0.8rem;
    opacity: 0.75;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 550; }

/*# sourceMappingURL=main.css.map */
