footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 5rem;
    max-width: 100%;
    margin-top: 4rem;
    text-align: center;
    background: rgba(221,217,231, 0.3);

    .copyright {
        letter-spacing: 0.4rem;
        font-size: 0.8rem;
        opacity: 0.75;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 550;
    }

    .socials {
        display: flex;
        gap: 1rem;
        
        i {
            font-size: 2rem;
            color: rgb(77, 139, 128)

        }
    }

    img {
        width: 5rem;
        height: auto;
    }

    @include md {
        flex-direction: column;
        padding-block: 1rem;
        gap: 2rem;

        .copyright {
            order: 2
        }

        .socials {
            gap: 1rem;
            
            i {
                font-size: 1.5rem;
            }
        }
    
        img {
            width: 3.5rem;
        }
    }

}