footer {
    width: 100%;
    max-width: 100%;
    margin: 2rem 0;
    text-align: center;

    .copyright {
        letter-spacing: 0.4rem;
        font-size: 0.8rem;
        opacity: 0.75;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: 550;
    }

}