header {
    min-height: 90vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // background: url('../../../images/nature-1.jpg') no-repeat center/cover;
    background: rgba(77, 139, 128, 0.5);

    .header-content {
        margin: 15rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 3.5rem;
            margin-bottom: 1rem;
        }

        h2{
            line-height: 1.5;
            text-align: center;
        }

        @include md-portrait{
            margin: 8rem 1rem 0 1rem;
        }

        @include lg-portrait{
            margin: 6rem 1rem 0 1rem;
        }
    }

    // @include rwd(600px){
    //     min-height: 70vh;
    // }
}