header {
    min-height: 90vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url('../../../images/nature-1.jpg') no-repeat center/cover;

    // @include lg{
    //     background-position: center/cover ;
    // }

    .header-content {
        margin-top: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 3em;
            margin-bottom: 1rem;
        }
    }
}