header {
    min-height: 90vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url('../../../images/nature-1.jpg') no-repeat center/cover;

    .header-content {
        margin: 15rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 3em;
            margin-bottom: 1rem;
        }

        h2{
            line-height: 1.5;
            text-align: center;
        }
    }

    @include rwd(600px){
        min-height: 70vh;
    }
}