html {
    scroll-behavior: smooth;

    main {
        display: flex;
        flex-direction: column;
    }
  }

  @mixin heading-style {
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  @mixin heading-style-mobile {
    font-size: 1.5rem;
  }

  @mixin paragraph-style {
    line-height: 1.5;
    width: 30rem;
  }

  @mixin paragraph-style-mobile {
    width: 90%;
  }
  

.alert {
    position: absolute;
    bottom:0rem;
    left: 15rem;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: rgba(221,217,231, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;

    @include xl{
        width: 15rem;
        height: 15rem;
        text-align: center;
        bottom:2rem;
    }

    @include lg{
        left: 8rem;  
        bottom: 1rem;
    }

    @include rwd(600px){
        width: 12rem;
        height: 12rem;
        //bottom:3rem;
        left: 4rem;  
    }

    @include rwd(400px) {
        width: 10rem;
        height: 10rem;
        bottom: -2rem;
        left: 2rem;  
        font-size: 0.7rem;
    }
}

.move {
    bottom:5rem;
}

.move-mobile {
    bottom: 0rem
}

main {

    .intro {
        display: flex;
        margin-top: 3rem;
        padding-top: 7rem;
        gap:3rem;
        margin-bottom: 4rem;
        justify-content:center;
        align-items:flex-start;


        &-sub {
            width: 15rem;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: space-between;

            img{
                width:100%;
                height:auto;
            }

            p{
                text-align: center;
            }
        }

        @include lg{
            flex-direction: column;
            align-items:center;
        }
    }

    .parallax{
        margin-top: 4rem;
        min-height: 400px;
        background: url('../../../images/pexels-cotton.jpg');
        position: relative;
        opacity: 0.9;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        .parallax-text{
            color:white;
            text-align: center;
            line-height: 1.5;
            width: 70%;
            font-size: 1.5rem;
            font-weight: bold;
            text-shadow: 1px 1px black;

            @include md {
                padding-block: 1rem;
                font-size: 1.3rem;
                width: 90%;
            }
        }

        
    }

    .trivia {
        background: rgba(221,217,231, 0.4);
        padding: 7rem 1rem;
        display:flex;
        justify-content: center;
        align-items: center;

       .trivia-image {
            display:flex;
            justify-content: center;
            align-items: center;
            width: 30%;

            img{
                width:20rem;
                height: auto;

                @include sm {
                    width: 15rem;
                }
            }

            @include rwd(1450px){
                width: 50%;
            }

            @include lg {
                    order: -1;
            }
       }

        .trivia-content {
            display: flex;
            gap:1rem;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h3 {
                @include heading-style;

                @include md{
                    @include heading-style-mobile;
                }
            }

            p {
                @include paragraph-style;

                @include lg{
                   text-align: center;
                }

                @include md{
                    @include paragraph-style-mobile;
                }
            }

            @include lg{
                align-items:center;
                justify-content: center;
            }
        }

        @include lg{
            flex-direction: column;
            align-items:center;
            gap: 3rem;
            justify-content: center;
        }
    }

    .contact{
        display:flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 7rem;
        padding-bottom: 3.5rem;
        
        h3 {
            @include heading-style;
        }

        p {
            @include paragraph-style;
        }

        @include sm {
            margin: 2rem 1rem;

            h3 {
                @include heading-style-mobile;
            }
    
            p {
                @include paragraph-style-mobile;
            }
        }
    }
}

