html {
    scroll-behavior: smooth;
  }

.alert {
    position:relative;
    bottom:15rem;
    left: 15rem;
   // z-index: 1;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background: rgba(221,217,231, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
   // color:white;
   font-weight: 400;
    text-transform: uppercase;
}

main{

    .intro {
        // padding: 2rem 15rem;
        margin-top: 2rem;
        display: flex;
        gap:5rem;
        margin-bottom: 2rem;
        justify-content:center;
        align-items:center;


        &-sub {
            width: 10rem;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }

    .parallax{
        margin: 4rem 0;
        min-height: 400px;
        background: url('../../../images/pexels-cotton.jpg');
        position: relative;
        opacity: 0.9;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;

        .parallax-text{
            color:white;
            text-align: center;
            line-height: 1.5;
            padding:0 20rem;
            font-size: 1.5rem;
            font-weight: bold;
            text-shadow: 1px 1px black;
        }
    }

    .contact{
        height:70vh;
        
    }
}

