nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1rem 15rem;
    background: white;
    
    ul{
        list-style: none;
        li{
            display:inline-block;
            margin: 0 1rem;
            cursor: pointer;

            a{
                text-decoration: none;
                color: black;
                font-weight: bold;

            }
        }
    }

    .logo{
        width:100px;
        height: auto;
    }
}

.sticky {
    position: fixed;
    width: 100%;
    z-index: 999999999;
}

